body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #CCCCFF;
    color: #7851A9;
}

table {
 border-color: #7851A9;
}

td {
    text-align: center;
}

th {
    text-align: center;
}